<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half has-text-centered title-option">
          <div class="flex">
            <img class="logo" src="assets/img/titania-logo3.png">
          </div>
          <div class="flex">
            <p class="text-spaced">TITANIA TECH</p>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-4 has-text-centered">
          <h1 class="contact-title">Contact Us</h1>
          <p class="">We are more than excited to hear from you on what cool projects we can work together. Send us a
            message with a description of what your project entails and we will respond as soon as possible with a
            quick startup plan.
          </p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <h2 class="info-contact">Send us an email at <span class="bold">business@titaniatechcr.com</span> or call us at +506 8917-5234 | +506 8347-8520</h2>
          <h2 class="info-contact">Fill out the form below :</h2>
          <form #heroForm="ngForm" [formGroup]="contactFormGroup">
            <div class="columns is-centered">
              <div class="column is-4">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Full name" required formControlName="fullName">
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
              </div>
            </div>

            <div class="columns is-centered">
              <div class="column is-4">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Enter your email" [formControl]="emailControl" required>
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="emailControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="columns is-centered">
              <div class="column is-4">
                <mat-form-field hintLabel="Max 8 characters" class="full-width">
                  <input matInput #input maxlength="8" placeholder="Phone number" formControlName="phone">
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="columns is-centered">
              <div class="column is-4">
                <mat-form-field class="full-width">
                  <textarea matTextareaAutosize matInput placeholder="Describe your project" required
                    formControlName="description"></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="columns is-centered">
              <div class="column is-4">
                <button mat-raised-button matTooltip="Click here to send us an email" [matTooltipPosition]="'after'"
                  aria-label="Button that submits info filled out in form above" class="send" color="primary"
                  (click)="submitContactForm(); heroForm.reset()" [disabled]="!contactFormGroup.valid">
                  Submit
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
      <mat-divider></mat-divider>

    </div>
    <app-social-media></app-social-media>
  </div>
</section>