<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <h1>Contact Us</h1>
      <p class="">We are more than excited to here from you on what cool projects we can work together. Send us a message with a description
        of what your project entails and we will respond as soon as possible with a quick summary of what we could plan on
        building.
      </p>
      <mat-divider></mat-divider>
      <h2>Fill out the form below :</h2>
      <form #heroForm="ngForm" [formGroup]="contactFormGroup">
        <div class="level grouped-inputs">
          <mat-form-field class="same-level">
            <input matInput placeholder="Full name" required formControlName="fullName">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

        </div>

        <div class="level">
          <mat-form-field>
            <input matInput placeholder="Enter your email" [formControl]="emailControl" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="emailControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="level">
          <mat-form-field hintLabel="Max 8 characters">
            <input matInput #input maxlength="8" placeholder="Phone number" formControlName="phone">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
          </mat-form-field>
        </div>

        <div class="level">
          <mat-form-field class="full-width">
            <textarea matTextareaAutosize matInput placeholder="Describe your project" required formControlName="description"></textarea>
            <mat-icon matSuffix>message</mat-icon>
          </mat-form-field>
        </div>

        <button mat-raised-button matTooltip="Click this to send us an email" [matTooltipPosition]="'after'" aria-label="Button that submits info filled out in form above"
          class="send" color="primary" (click)="submitContactForm(); heroForm.reset()" [disabled]="!contactFormGroup.valid">
        Submit
      </button>
      </form>

    </div>
    <!-- Follow us section -->
    <div class="columns is-centered">
      <div class="column has-text-centered title-option">
        <mat-divider></mat-divider>
        Follow us here:
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column has-text-centered">
        <button mat-fab class="follow-icon google">
          <i class="fa fa-google-plus"></i>
        </button>
        <button mat-fab class="follow-icon center twitter">
          <a class="nostyle" href="https://twitter.com/TechTitania" target="_blank"> <i class="fa fa-twitter"></i></a>
        </button>
        <button mat-fab class="follow-icon linkedin">
          <a class="nostyle" href="https://www.linkedin.com/company/titania-tech/" target="_blank"> <i class="fa fa-linkedin"></i></a>
        </button>
      </div>
    </div>
  </div>
</section>