h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    cursor: default;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
    cursor: default;
    margin-bottom: 1%;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor: default;
}

mat-divider {
    margin-bottom: 1em;
    margin-top: 1em;
}

.send {
    width: 70%;  
}

.full-width {
    width: 70%;
}

.title-option {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    cursor: default;
}

.follow-icon.center {
    margin-left: 1.5em;
    margin-right: 1.5em;
    
}

.follow-icon.google:hover {
    background-color: #d65858;
    color: white;
}

.follow-icon.twitter:hover {
    background-color: #4daaef;
    color: white;
}

.follow-icon.linkedin:hover {
    background-color: #214fd6;
    color: white;
}

.follow-icon {
    background-color: white;
    color: #fcd840;
    font-size: 1.2em;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

a.nostyle:link, a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.flex {
    display: inline-block;
    vertical-align: middle;
}

.text-spaced {
    letter-spacing: .2em;
    font-weight: 100;
}

h2.info-contact {
    font-size: 18px;
}

span.bold {
    color: #214fd6;
}

.contact-title {
    margin-bottom: 1em;
}