<section class="hero">

  <div class="hero light-color">
    <div class="hero-body highlight-box">
      <div class="container">
        <div class="columns is-centered">

          <div class="column has-text-centered top-row">
            <h1 class="title upper-text">Titania Product Portfolio</h1>
            <h2 class="subtitle lower-text">Pre-built solutions</h2>
          </div>

        </div>
        <div class="columns is-centered">

          <div class="column is-3">
            <p>Titania Tech's offers pre-built solutions systems that can be
              easily integrated and expanded on depending on your exact business needs. We can customize this
              software as much or as little as you require. The time required to implement a solution like this is
              greatly reduced due to us already having a robust backbone to start with.
            </p>
          </div>
          <div class="column is-2 center-icon">
            <mat-icon matSuffix class="portfolio">layers</mat-icon>
            <div class="separation"><button mat-raised-button color="accent" (click)="goToContact()">Contact Us</button></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero">
    <div class="hero-body portfolio-item">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5 has-text-centered top-row">
            <h2 class="subtitle lower-text">Inventory Management System</h2>
            <p class="light-text">Our Inventory Management System has different built in modules that you can use to
              automate slow and inefficient processes. The main modules of this system are login, an inventory
              dashboard, item cards and insert items form. The Front End is built with Angular 7 and the Back End is
              written in Nodejs.</p>
          </div>
        </div>
        <div class="columns is-centered">

          <div class="column is-10 showcase">
            <mat-tab-group dynamicHeight mat-stretch-tabs>
              <mat-tab label="Login Module">
                <div class="columns is-centered">
                  <div class="column is-8 shw-img">
                    <div class="example-large-box mat-elevation-z4">
                      <img class="screen" src="assets/img/login.PNG">
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Inventory Dashboard">
                <div class="columns is-centered">
                  <div class="column is-9 shw-img">
                    <div class="example-large-box mat-elevation-z4">
                      <img class="screen" src="assets/img/inventario.PNG">
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Item Card">
                <div class="columns is-centered">
                  <div class="column is-8 shw-img">
                    <div class="example-large-box mat-elevation-z4">
                      <img class="screen" src="assets/img/item-card.PNG">
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Insert Items">
                <div class="columns is-centered">
                  <div class="column is-8 shw-img">
                    <div class="example-large-box mat-elevation-z4">
                      <img class="screen" src="assets/img/formulario.PNG">
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>

        </div>
        <div class="columns is-centered">
          <div class="column is-2 has-text-centered">
            <p class="light-text fav">I absolutely need this!</p>
            <button mat-fab class="favorite-button" matTooltip="Let's talk!" [matTooltipPosition]="'after'" (click)="loveProduct(portfolios[0], portfolios[0].loveCount)">
              <mat-icon aria-label="Icon with a heart icon">favorite</mat-icon>
            </button>
            <p *ngIf="portfolios.length > 0" class="light-text count">This product has been loved {{portfolios[0].loveCount}} times.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>