
.button {
    width: 100%;
    font-weight: 400;
}

.control {
    width: 48.5%
}

.navbar-menu{
    padding: 0px;
}

.navbar-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .9em;
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.is-white:hover {
    background-color: #5b6fe0;
    color: white;
}

.is-blue {
    background-color: #3f51b5;
}

.is-wide {
    color: white;
    border-top: none;
}

a.navbar-link:hover {
    background-color: #fafafa;
    color: #4a4a4a;
}

a.navbar-item:hover {
    color: #4a4a4a;
}

.navbar-dropdown .navbar-item {
    border-top: none;
}

a.is-active a.navbar-link {
    background-color: #fafafa;
    color: #4a4a4a;
}

.right-separation {
    border-top: none;
    margin-right: 0.75em;
}

.is-google {
    background-color: #d65858;
    color: white;
    border: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.is-google:hover {
    background-color: #ce3c3c;
}

.is-linkedin {
    background-color: #3273dc;
    color: white;
    border: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.is-linkedin:hover {
    background-color: #276cda;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.navbar-item img {
    max-height: 2rem;
}

a.navbar-burger {
    color:white;
}
