
.button {
    width: 100%;
    font-weight: 400;
}

.control {
    width: 48.5%
}

.navbar-menu{
    padding: 0px;
}

.navbar-item {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.is-white:hover {
    background-color: #5b6fe0;
    color: white;
}

.is-blue {
    background-color: #3f51b5;
}

.is-white {
    color: white;
}
