<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <p class="footer-title">Titania Tech</p>
        <p class="footer-text">Software Development company focused on bringing you the best quality and performance to ehance your business.</p>
        <p class="location">Santa Ana, San Jose</p>
        <p class="location">Costa Rica</p>
      </div>
      <div class="column has-text-centered">
        <p class="footer-title"><a>Services</a></p>
        <p class="footer-text"><a>Web App Development</a></p>
        <p class="footer-text"><a>UI/UX Design</a></p>
        <p class="footer-text"><a>Product Portfolio</a></p>
        <p class="footer-text"><a>Contact Us</a></p>
      </div>
      <div class="column has-text-centered">
        <p class="footer-title"><a>Technologies</a></p>
        <p><a class="footer-text">Angular & React</a></p>
        <p><a class="footer-text">NodeJs & Python</a></p>
        <p><a class="footer-text">Ionic & Flutter</a></p>
        <p><a class="footer-text">Illustrator & XD</a></p>
        <p><a class="footer-text">MongoDB & MySQL</a></p>
        <!--<div class="columns">
          <div class=" text-right">
            <p><a class="footer-text">Angular 5+</a></p>
            <p><a class="footer-text">Python</a></p>
            <p><a class="footer-text">NodeJs</a></p>
            <p><a class="footer-text">Bulma</a></p>
            <p><a class="footer-text">Google Cloud</a></p>
          </div>
          <div class=" text-left">
            <p><a class="footer-text">React</a></p>
            <p><a class="footer-text">Flutter</a></p>
            <p><a class="footer-text">Ionic</a></p>
            <p><a class="footer-text">AWS</a></p>
            <p><a class="footer-text">MongoDB</a></p>
          </div>
        </div>-->
      </div>

    </div>
  </div>
</footer>