<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-2 has-text-centered">
        <p class="footer-title">Titania Tech</p>
        <p class="footer-text">Software Development company focused on bringing you the best quality and performance to
          ehance your business.</p>
        <p class="location">Santa Ana, San Jose</p>
        <p class="location">Costa Rica</p>
      </div>
      <div class="column is-3 has-text-centered">
        <p class="footer-title"><a>Services</a></p>
        <p class="footer-text"><a>Web App Development</a></p>
        <p class="footer-text"><a>UI/UX Design</a></p>
        <p class="footer-text"><a>Product Portfolio</a></p>
        <p class="footer-text"><a>Contact Us</a></p>
      </div>
      <div class="column is-2 has-text-centered">
        <p class="footer-title"><a>Technologies</a></p>
        <p><a class="footer-text">Angular & React</a></p>
        <p><a class="footer-text">NodeJs & Python</a></p>
        <p><a class="footer-text">Ionic & Flutter</a></p>
        <p><a class="footer-text">Illustrator & XD</a></p>
        <p><a class="footer-text">MongoDB & MySQL</a></p>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <p class="cp">© 2019 Titania Tech Costa Rica. All rights reserved. Software Development Company in Costa Rica.</p>
      </div>
    </div>
  </div>
</footer>