.footer-title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: .3em;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: .3em;
}

.location {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

a {
    color: #4a4a4a;
    -webkit-transition: .7s ease;
    transition: .7s ease;
}

a:hover {
    color: #3f51b5;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

footer {
    padding-bottom: 1.5rem;
    font-size: .8em;
}

@media screen and (max-width: 768px) {
    .is-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .is-2 .footer-text {
        max-width: 250px;
    }
}

footer p.cp {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 100;
    cursor: default;
}