<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered small-title-option">
        <div class="column has-text-centered small-title-option">
          Let's work together !
        </div>
      </div>
      <div class="columns is-centered bottom-separation">
        <div class="column has-text-centered title-option">
          Choose a project type:
        </div>
      </div>
      <div class="columns">
        <!-- this boxes wil be a component in future -->
        <div class="column optionBox">
          <i class="fa fa-connectdevelop big-icon"></i>
          <h2 class="option-title">Web Application Development</h2>
          <p>Reliable solutions that dramatically improve your internal processes.</p>
          <div class="info-separation">
            <button mat-raised-button class="round-button">Cross-platform & scalable solutions</button>
          </div>
          <p>Custom developed innovations that can change the course of your industry.</p>
          <div class="info-separation">
            <button mat-raised-button color="primary" class="view-info">Create your project</button>
          </div>


        </div>
        <div class="column optionBox">
          <i class="fa fa-gg big-icon"></i>
          <h2 class="option-title ux">UX Design</h2>
          <p>Reliable solutions that dramatically improve your internal processes.</p>
          <div class="info-separation">
            <button mat-raised-button class="round-button">Cross-platform & scalable solutions</button>
          </div>
          <p>Custom developed innovations that can change the course of your industry.</p>
          <div class="info-separation">
            <button mat-raised-button color="primary" class="view-info">Create your project</button>
          </div>
        </div>
        <div class="column optionBox">
          <i class="fa fa-android big-icon"></i>
          <h2 class="option-title mobile">Mobile Application Development</h2>
          <p>Reliable solutions that dramatically improve your internal processes.</p>
          <div class="info-separation">
            <button mat-raised-button class="round-button">Cross-platform & scalable solutions</button>
          </div>
          <p>Custom developed innovations that can change the course of your industry.</p>
          <div class="info-separation">
            <button mat-raised-button color="primary" class="view-info">Create your project</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- this banner wil be a component in future -->
  <div class="skills hero is-info">
    <div class="hero-body">
      <div class="container">
        Raul
      </div>
    </div>
  </div>
</section>