<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered small-title-option">
        <div class="column has-text-centered small-title-option">
          Lets work together
        </div>

      </div>
      <div class="columns is-centered">
        <div class="column has-text-centered title-option">
          Choose a project type:
        </div>
      </div>
      <div class="field is-grouped">
        <!-- this boxes wil be a component in future -->
        <div class="column optionBox">
          1<br>1<br>1<br>1<br>1<br>
        </div>
        <div class="column optionBox">
          2<br>2<br>2<br>2<br>2<br>
        </div>
        <div class="column optionBox">
          3<br>3<br>3<br>3<br>3<br>
        </div>
      </div>

    </div>
  </div>
  <div class="skills hero is-info">
    <div class="hero-body">
      <div class="container">
        Raul
      </div>
    </div>
  </div>
</section>