.optionBox {
    text-align: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
}

.optionBox:hover {
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.1);
}

.title-option {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    cursor: default;
}

.small-title-option {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 0;
    cursor: default;
}

.optionBox:hover .view-info {
    transform: translateY(0);
    opacity: 1;
}

.view-info {
    opacity: 0;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

