<section class="hero top-banner">
  <div class="hero-body filter">
    <div class="container">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <h1 class="title title-main">Software Development services for your company. </h1>
          <h1 class="title title-main">Be the first to innovate your industry.</h1>
          <mat-icon class="icon-quote" (click)="scrollToOptions()">keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="optionsElem" class="hero ">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered small-title-option">
        <div class="column has-text-centered small-title-option">
          Let's work together !
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column has-text-centered title-option">
          Choose a project type:
          <mat-divider></mat-divider>
        </div>

      </div>
      <div class="columns">
        <!-- this boxes wil be a component in future -->
        <div class="column optionBox">
          <i class="fa fa-connectdevelop big-icon"></i>
          <h2 class="option-title web">Web Development</h2>
          <p>Reliable solutions that dramatically improve your internal processes.</p>
          <div class="info-separation">
            <button mat-raised-button class="round-button">Cross-platform & scalable solutions</button>
          </div>
          <p>Custom developed innovations that can change the course of your business.</p>
          <div class="info-separation">
            <button mat-raised-button color="primary" class="view-info" (click)="createProject('web')">Create your project</button>
          </div>


        </div>
        <div class="column optionBox">
          <i class="fa fa-gg big-icon"></i>
          <h2 class="option-title ux">UI/UX Design</h2>
          <p>Creative and modern design for an intuitive & easy to use interface.</p>
          <div class="info-separation">
            <button mat-raised-button class="round-button">Elegant designs & smart interfaces</button>
          </div>
          <p>Make your users fall in love with an elegant solution starting with UI.</p>
          <div class="info-separation">
            <button mat-raised-button color="primary" class="view-info" (click)="createProject('design')">Create your project</button>
          </div>
        </div>
        <div class="column optionBox">
          <i class="fa fa-list big-icon"></i>
          <h2 class="option-title mobile">Product Portfolio</h2>
          <p>Solutions pre-developed that can be further customized to your needs.</p>
          <div class="info-separation">
            <button mat-raised-button class="round-button">Integrate our products to your systems</button>
          </div>
          <p>Automate processes & offer more efficient services with these products.</p>
          <div class="info-separation">
            <button mat-raised-button color="primary" class="view-info" (click)="createProject('portfolio')">View our products</button>
          </div>
        </div>
      </div>
      <div class="columns is-centered">

        <div class="column has-text-centered title-option">
          <mat-divider></mat-divider>
          Click an option and request a quote!
        </div>
      </div>

    </div>
  </div>
  <!-- this banner wil be a component in future -->
  <div class="skills hero light-color">
    <div class="hero-body filter">
      <div class="container">
        <div class="columns is-centered">
          <div class="column has-text-centered">
            <h1 class="title title-exp">Experienced and Skilled engineers</h1>
            <h1 class="subtitle title-exp">at your service.</h1>
            <div class="columns is-centered">
              <div class="column has-text-centered text-p is-one-quarter">
                <p>Our team is comprised of young developers with passion for quality products. We've built enterprise level
                  applications for companies with +100,000 employees with performance and coding standards that have
                  recieved awards within the company. </p>
              </div>
              <i class="fa fa-trophy award-icon"></i>
              <div class="column has-text-centered text-p is-one-quarter">
                <p> We can help your company design and build a digital product that will make your brand stand out amongst the
                  best. When you work with us, there is a guarantee that your product will be delivered with modern technologies
                  that unlock your full potential.</p>
              </div>
            </div>
          </div>

        </div>
        <div class="columns is-centered button-separation">
          <div class="column has-text-centered">
            <button mat-raised-button color="accent" class="" (click)="createProject('ourteam')">Who are we?</button>
          </div>
        </div>
        <!-- Follow us section -->
        <div class="columns is-centered">
          <div class="column has-text-centered title-option">
            Follow us here
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column has-text-centered">
            <a mat-fab class="follow-icon google" href="https://www.google.com/maps/place/Titania+Tech/@9.939115,-84.1823884,15z/data=!4m2!3m1!1s0x0:0x337ea5adc38b52a8?hl=en-US&ved=2ahUKEwjyz4TuhOfeAhVSrlkKHVhxDdoQ_BIwC3oECAIQBg"
              target="_blank">
              <i class="fa fa-google-plus"></i>
            </a>
            <a mat-fab class="follow-icon center twitter" href="https://twitter.com/TechTitania" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a mat-fab class="follow-icon google" href="https://www.linkedin.com/company/titania-tech/" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>