<app-quote></app-quote>
<section class="hero ">
  <!-- this banner wil be a component in future -->
  <div class="skills hero light-color">
    <div class="hero-body highlight-box">
      <div class="container">
        <div class="columns is-centered">

          <div class="column has-text-centered top-row">
            <h1 class="title upper-text">Web Application Development</h1>
            <h2 class="subtitle lower-text">Innovate your industry</h2>
          </div>

        </div>
        <div class="columns is-centered">
          <div class="column"></div>
          <div class="column ">
            <p class=""><span class="highlight-text">Titania Tech</span> focuses on quality and performance for your web Application
              project without leaving aside good <span class="highlight-text">UX
              design</span> practices and site accessibility. We build robust and <span class="highlight-text">scalable</span>              applications using modern technologies which in turn allows us to implement the best <span class="highlight-text">features</span>              possible.
            </p>
          </div>
          <div class="column center-icon">
            <div><i class="fa fa-connectdevelop big-icon"></i></div>
            <div class="separation"><button mat-raised-button color="accent">Contact Us</button></div>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero ">
  <!-- this banner wil be a component in future -->
  <div class="skills hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column has-text-centered top-row">
            <h1 class="title upper-text">Why Web Development?</h1>
            <div class="columns is-centered">
              <div class="column"></div>
              <div class="column has-text-centered ">
                <p class="">Titania Tech focuses on quality and performance for your web Application project without leaving aside good
                  UX design practices and site accessibility. So many things have chnage and evoledk aksgkfkgkdhfgh jdhfj
                  gijkjdf htkms </p>
              </div>
              <div class="column"></div>
            </div>
          </div>
        </div>
        <mat-divider class="separation-bottom"></mat-divider>
        <div class="columns is-centered">
          <div class="column option" (mouseleave)="collapsePanel()">
            <div class="flex-top">
              <h2 class="subtitle lower-text">Front End</h2>
              <mat-icon class="margin-right">view_quilt</mat-icon>
            </div>
            <p class="">Titania Tech focuses on quality and performance for your web Application project without leaving aside good UX
              design practices and site accessibility. We build robust and scalble applications using modern technologies
              which in turn allows us to implement the best features possible.</p>
            <!--<button mat-raised-button color="primary" class="view-tech">Check out our Front End tools</button>-->
            <div class="view-tech">
              <mat-accordion>
                <mat-expansion-panel [expanded]="expandOption == 1" (opened)="expandOption = 1" class="expansion-list" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="text">
                      Front End
                    </mat-panel-title>
                    <mat-panel-description class="text">
                      Check out our tools
                    </mat-panel-description>
                    <mat-icon>view_quilt</mat-icon>
                  </mat-expansion-panel-header>
                  <mat-divider class="tool-divider"></mat-divider>
                  <mat-list>
                    <h3 mat-subheader class="text">Technologies</h3>
                    <mat-list-item *ngFor="let tools of frontEndTools">
                      <mat-icon mat-list-icon class="tool-icon">build</mat-icon>
                      <h4 mat-line class="text">{{tools.name}}</h4>
                    </mat-list-item>
                  </mat-list>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          <div class="column option" (mouseleave)="collapsePanel()">
            <div class="flex-top">
              <h2 class="subtitle lower-text">Back End</h2>
              <mat-icon class="margin-right">storage</mat-icon>
            </div>
            <p class="">Titania Tech focuses on quality and performance for your web Application project without leaving aside good UX
              design practices and site accessibility. We build robust and scalble applications using modern technologies
              which in turn allows us to implement the best features possible.</p>
            <!--<button mat-raised-button color="primary" class="view-tech">Check out our Back End tools</button>-->
            <div class="view-tech">
              <mat-accordion>
                <mat-expansion-panel [expanded]="expandOption == 2" (opened)="expandOption = 2" class="expansion-list" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="text">
                      Back End
                    </mat-panel-title>
                    <mat-panel-description class="text">
                      Check out our tools
                    </mat-panel-description>
                    <mat-icon>storage</mat-icon>
                  </mat-expansion-panel-header>
                  <mat-divider class="tool-divider"></mat-divider>
                  <mat-list>
                    <h3 mat-subheader class="text">Technologies</h3>
                    <mat-list-item *ngFor="let tools of backEndTools">
                      <mat-icon mat-list-icon class="tool-icon">build</mat-icon>
                      <h4 mat-line class="text">{{tools.name}}</h4>
                    </mat-list-item>
                  </mat-list>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          <div class="column option" (mouseleave)="collapsePanel()">
            <div class="flex-top">
              <h2 class="subtitle lower-text">Hosting</h2>
              <mat-icon class="margin-right">cloud_done</mat-icon>
            </div>
            <p class="">Titania Tech focuses on quality and performance for your web Application project without leaving aside good UX
              design practices and site accessibility. We build robust and scalble applications using modern technologies
              which in turn allows us to implement the best features possible.</p>
            <!--<button mat-raised-button color="primary" class="view-tech">Check out our Hosting options</button>-->
            <div class="view-tech">
              <mat-accordion>
                <mat-expansion-panel [expanded]="expandOption == 3" (opened)="expandOption = 3" class="expansion-list" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="text">
                      Hosting
                    </mat-panel-title>
                    <mat-panel-description class="text">
                      Check out our tools
                    </mat-panel-description>
                    <mat-icon>storage</mat-icon>
                  </mat-expansion-panel-header>
                  <mat-divider class="tool-divider"></mat-divider>
                  <mat-list>
                    <h3 mat-subheader class="text">Technologies</h3>
                    <mat-list-item *ngFor="let tools of hostingTools">
                      <mat-icon mat-list-icon class="tool-icon">build</mat-icon>
                      <h4 mat-line class="text">{{tools.name}}</h4>
                    </mat-list-item>
                  </mat-list>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>