<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half has-text-centered title-option">
          <div class="flex">
            <img class="logo" src="assets/img/titania-logo3.png">
          </div>
          <div class="flex">
            <p class="text-spaced">TITANIA TECH</p>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half has-text-centered subtitle-top">
          <mat-divider></mat-divider>
          Coming soon!
        </div>
      </div>
      <div class="columns is-centered timer">
        <!-- this boxes wil be a component in future -->
        <div class="column is-half optionBox">
          <h2 class="option-title">00 Days 23 Hours 17 Min 04 Sec</h2>
          <div class="info-separation">
            <button mat-raised-button class="round-button" color="accent">Return to homepage</button>
          </div>
          
        </div>
      </div>
    </div>
    <!-- Follow us section -->
    <div class="columns is-centered">
      <div class="column has-text-centered title-option">
        Follow us here:
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column has-text-centered">
        <button mat-fab class="follow-icon google">
              <i class="fa fa-google-plus"></i>
            </button>
        <button mat-fab class="follow-icon center twitter">
              <i class="fa fa-twitter"></i>
            </button>
        <button mat-fab class="follow-icon linkedin">
              <a class="nostyle" href="https://www.linkedin.com/company/titania-tech/" target="_blank"> <i class="fa fa-linkedin"></i></a>
            </button>
      </div>
    </div>
  </div>
</section>