<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half has-text-centered title-option">
          <div class="flex">
            <img class="logo" src="assets/img/titania-logo3.png">
          </div>
          <div class="flex">
            <p class="text-spaced">TITANIA TECH</p>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half has-text-centered subtitle-top">
          <mat-divider></mat-divider>
          Coming soon!
        </div>
      </div>
      <div class="columns is-centered timer">
        <!-- this boxes wil be a component in future -->
        <div class="column has-text-centered is-half optionBox">
          <div class="columns is-centered" *ngIf="loading">
            <mat-progress-spinner class="spinner" [color]="color" [mode]="mode">
            </mat-progress-spinner>
          </div>
          <h2 *ngIf="!loading" class="option-title">{{days}} Days | {{hours}} Hours | {{minutes}} Min | {{seconds}} Sec</h2>
          <div class="info-separation">
            <button mat-raised-button class="round-button" color="accent" (click)="goHome()">Return to homepage</button>
          </div>

        </div>
      </div>
    </div>
    <app-social-media></app-social-media>
  </div>
</section>