<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half has-text-centered title-option">
          <div class="flex">
            <img class="logo" src="assets/img/titania-logo3.png">
          </div>
          <div class="flex">
            <p class="text-spaced">TITANIA TECH</p>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half has-text-centered subtitle-top">
          <mat-divider></mat-divider>
          Coming soon!
        </div>
      </div>
      <div class="columns is-centered timer">
        <!-- this boxes wil be a component in future -->
        <div class="column has-text-centered is-half optionBox">
          <div class="columns is-centered" *ngIf="loading">
            <mat-progress-spinner class="spinner" [color]="color" [mode]="mode">
            </mat-progress-spinner>
          </div>
          <h2 *ngIf="!loading" class="option-title">{{days}} Days | {{hours}} Hours | {{minutes}} Min | {{seconds}} Sec</h2>
          <div class="info-separation">
            <button mat-raised-button class="round-button" color="accent" (click)="goHome()">Return to homepage</button>
          </div>

        </div>
      </div>
    </div>
    <!-- Follow us section -->
    <div class="columns is-centered">
      <div class="column has-text-centered title-option">
        Follow us here:
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column has-text-centered">
        <a mat-fab class="follow-icon google" href="https://www.google.com/maps/place/Titania+Tech/@9.939115,-84.1823884,15z/data=!4m2!3m1!1s0x0:0x337ea5adc38b52a8?hl=en-US&ved=2ahUKEwjyz4TuhOfeAhVSrlkKHVhxDdoQ_BIwC3oECAIQBg"
          target="_blank">
          <i class="fa fa-google-plus"></i>
        </a>
        <a mat-fab class="follow-icon center twitter" href="https://twitter.com/TechTitania" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a mat-fab class="follow-icon google" href="https://www.linkedin.com/company/titania-tech/" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</section>