.title-option {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    cursor: default;
}

.flex {
    display: inline-block;
    vertical-align: middle;
}

.text-spaced {
    letter-spacing: .2em;
    font-weight: 100;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    cursor: default;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
    cursor: default;
}

p.description-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

p.description-text span {
    font-weight: bolder;
}

.is-10 .description-text:first-child {
    margin-bottom: 1em;
}

.separation {
    margin-top: 2em;
    margin-bottom: 2em;
}

.person-card {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    max-width: 400px;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2em;
    cursor: pointer;
}

.person-avatar {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    flex-shrink: 0;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    margin: 0 auto;
    margin-top: 1em;
    -webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.person-avatar:hover {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.person-avatar.raul {
    background-image: url('../../../assets/img/raul2.jpeg');
 }

.person-avatar.andres {
    background-image: url('../../../assets/img/andres.jpg');
}

.person-avatar.eunice {
    background-image: url('../../../assets/img/eunice.jpeg');
}

.avatar {
    display: flex;
    justify-content: center;
}

.profiles {
    display: flex;
    justify-content: center;
}
.center-button {
    margin-left: 1em;
    margin-right: 1em;
}

.linkedin {
    background-color: #365dd0;
    color: white;
    border: 1px solid #573154;
}

.twitter {
    background-color: #38A1F3;
    color: white;
    border: 1px solid #573154;
}

.facebook {
    background-color: #3273dc;
    color: white;
    border: 1px solid #573154;
}

.instagram {
    background-color: #f1537d;
    color: white;
    border: 1px solid #573154;
}

/* Gray Scale */
.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}