<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half has-text-centered title-option">
          <div class="flex">
            <img class="logo" src="assets/img/titania-logo3.png">
          </div>
          <div class="flex">
            <p class="text-spaced">TITANIA TECH</p>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="columns is-centered separation">
        <div class="column is-8 has-text-centered">
          <h1>Meet our team</h1>
        </div>
      </div>
      <div class="columns is-centered">

        <div class="column person-card">
          <div class="columns is-centered" (click)="openItemCardDialog('Raul')">
            <div class="column is-6 ">
              <div class="person-avatar raul"></div>
            </div>
          </div>
          <div class="columns is-centered" (click)="openItemCardDialog('Raul')">
            <div class="column has-text-centered">
              <h1>Raul Grimaldi</h1>
              <h2>Founder | Software Architect</h2>
            </div>
          </div>
          <div class="columns is-centered" (click)="openItemCardDialog('Raul')">
            <div class="column is-10">
              <p class="description-text">
                Always looking a for challenges to solve using smart technologies.
              </p>
              <p class="description-text">
                Click on this card to learn more about <span>Raul</span>.
              </p>
            </div>
          </div>
          <!-- Links to social media -->
          <div class="columns is-centered ">
            <div class="column has-text-centered profiles">
              <a mat-stroked-button class="linkedin " href="https://www.linkedin.com/in/raul-grimaldi-7a782392/" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
              <a mat-stroked-button class="center-button" href="https://raulgrimaldi.com" target="_blank">
                <i class="fa fa-globe"></i>
              </a>
              <a mat-stroked-button class="instagram " href="https://instagram.com/KingTotto" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="column person-card">
          <div class="columns is-centered" (click)="openItemCardDialog('Andres')">
            <div class="column is-6 ">
              <div class="person-avatar andres"></div>
            </div>
          </div>
          <div class="columns is-centered" (click)="openItemCardDialog('Andres')">
            <div class="column has-text-centered">
              <h1>Andres Jacobowitz</h1>
              <h2>Web & Graphic Designer</h2>
            </div>
          </div>
          <div class="columns is-centered" (click)="openItemCardDialog('Andres')">
            <div class="column is-10">
              <p class="description-text">
                Designing catchy and stylish elements for more than 7 years focusing on quality.
              </p>
              <p class="description-text">
                Click on this card to learn more about <span>Andres</span>.
              </p>
            </div>
          </div>
          <!-- Links to social media -->
          <div class="columns is-centered">
            <div class="column has-text-centered profiles">
              <a mat-stroked-button class="linkedin " href="https://www.linkedin.com/in/andr%C3%A9s-jacobowitz-7a56a9171/"
                target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
              <a mat-stroked-button class="center-button" href="https://github.com/andresjac7" target="_blank">
                <i class="fa fa-github"></i>
              </a>
              <a mat-stroked-button class="facebook" href="https://www.facebook.com/andres.jacobowitz" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="column person-card">
          <div class="columns is-centered" (click)="openItemCardDialog('Eunice')">
            <div class="column is-6 ">
              <div class="person-avatar eunice"></div>
            </div>
          </div>
          <div class="columns is-centered" (click)="openItemCardDialog('Eunice')">
            <div class="column has-text-centered">
              <h1>Eunice Grimaldi</h1>
              <h2>Product & UX Designer</h2>
            </div>
          </div>
          <div class="columns is-centered" (click)="openItemCardDialog('Eunice')">
            <div class="column is-10">
              <p class="description-text">
                Eunice has the expertise needed to create fluid and dynamic interfaces.
              </p>
              <p class="description-text">
                Click on this card to learn more about <span>Eunice</span>.
              </p>
            </div>
          </div>
          <!-- Links to social media -->
          <div class="columns is-centered">
            <div class="column has-text-centered profiles">
              <a mat-stroked-button class="linkedin ">
                <i class="fa fa-linkedin"></i>
              </a>
              <a mat-stroked-button class="center-button">
                <i class="fa fa-globe"></i>
              </a>
              <a mat-stroked-button class="twitter ">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>