<!-- Follow us section -->
<div class="columns is-centered">
  <div class="column has-text-centered title-option">
    Follow us here
  </div>
</div>
<div class="columns is-centered">
  <div class="column has-text-centered">
    <a mat-fab class="follow-icon google" href="https://www.google.com/maps/place/Titania+Tech/@9.939115,-84.1823884,15z/data=!4m2!3m1!1s0x0:0x337ea5adc38b52a8?hl=en-US&ved=2ahUKEwjyz4TuhOfeAhVSrlkKHVhxDdoQ_BIwC3oECAIQBg"
      target="_blank">
      <i class="fa fa-google-plus"></i>
    </a>
    <a mat-fab class="follow-icon center twitter" href="https://twitter.com/TechTitania" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a mat-fab class="follow-icon linkedin" href="https://www.linkedin.com/company/titania-tech/" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
</div>