.is-info {
    background-color: #68acda;
}

.lower-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    cursor: default;
}

.quote {
    color: #292a2f;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
}

.icon-quote {
    margin-left: .3em;
}

.upper-text {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 300;
    cursor: default;
}

.big-icon {
    font-size: 8em;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.big-icon:hover  {
    color: #f3d119;
}

.center-icon {
    text-align: center;
}

.description {
    padding-left: 15%;
    padding-right: 15%;
}

.separation {
    margin-top: 1.5em;
}

.separation-bottom {
    margin-bottom: 3em;
}

.title-line {
    color: #f9e18b;
    margin: 0;
}

.top-row {
    margin-bottom: 2em;
}

.flex-top {
    display: flex;
    justify-content: space-between;
}

.flex-inlne-top {
    display: inline-flex;
    vertical-align: middle;
}

.margin-right {
    margin-right: .5em;
}

.view-tech {
    margin-top: 1em;
    margin-bottom: 1em;
    opacity: 0;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.option:hover .view-tech {
    transform: translateY(0);
    cursor: pointer;
    opacity: 1;
}

.option {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.option:hover {
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.1);
}

.highlight-box:hover .highlight-text {
    color: white;
}

.highlight-text {
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.hero.top-banner {
    background-color: #f9f7f7;
    color: #767782;
}

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.full-width {
    width: 80%;
}

.expansion-list {
    background-color: #673ab7;
    color: white;
}

.expansion-list .text {
    color: white;
}

.tool-icon {
  font-size: .5em;
  color: white;
}

.tool-divider {
    border-top-color: rgba(225, 225, 225, .5);
}

.light-color {
    background-color: lightblue;
}

.text-light {
    color: white;
}