<div class="columns is-centered full-height">
  
  <div class="column is-4 ">
    <div class="columns">
      <div class="column has-text-centered">
        <h2 class="title-name">Raul Grimaldi</h2>
      </div>
    </div>
    <div class="columns">
      <div class="column person-img">
          <div class="person-avatar raul"></div>
      </div>  
    </div>
  </div>
  <div class="column is-8">
    <div class="columns is-centered">
      <div class="column is-5">
        <h2>Experience:</h2>
        <p>
          A very long bla bla bla thing of experinece work related what to put here
          lorem ipsum absjsf kjfk kjkdf als thi s i a nie pace t wirte stuff what do we
          avengers is a ery good moe i dot wannt go sir.
        </p>
      </div>
      <div class="column is-1"></div>
      <div class="column is-5">
        <h2>Technologies:</h2>
        <h3>- Angular</h3>
        <h3>- JavaScript</h3>
        <h3>- Python</h3>
        <h3>- HTML + CSS</h3>
        <h3>- NodeJs</h3>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-6">
        <h2>Videogame enthusiast:</h2>
        <p>
          Favorite game is League of Legends
          where he is currently ranked Diamond I in the North American server.
        </p>
      </div>
      <div class="column has-text-centered is-5">
        <h2>Twitch stream:</h2>
        <a mat-raised-button class="twitch" href="https://www.twitch.tv/tottogoboom" target="_blank">
          <i class="fa fa-twitch"></i>
        </a>
      </div>
    </div>
  </div>
</div>