<div class="columns is-centered full-height">
  
  <div class="column is-4 ">
    <div class="columns">
      <div class="column has-text-centered">
        <h2 class="title-name">{{name}}</h2>
        <h3>{{title}}</h3>
      </div>
    </div>
    <div class="columns">
      <div class="column person-img">
          <div class="person-avatar" [ngClass]="{'raul': name == 'Raul Grimaldi', 'andres': name == 'Andres Jacobowitz', 'eunice': name == 'Eunice Grimaldi'}"></div>
      </div>  
    </div>
  </div>
  <div class="column is-8">
    <div class="columns is-centered">
      <div class="column is-6">
        <h2>Experience:</h2>
        <p>
          {{experience}}
        </p>
      </div>
      <div class="column is-1"></div>
      <div class="column is-4">
        <h2>Technologies:</h2>
        <h3 *ngFor="let item of tech_list">- {{item}}</h3>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-6">
        <h2>Gaming enthusiast:</h2>
        <p>
          If he's not coding he's playing League of Legends. Currently ranked Diamond, if you want to play with him check out the links!.
        </p>
      </div>
      <div class="column is-1"></div>
      <div class="column has-text-centered is-4">
        <h2>Twitch & OP.GG:</h2>
        <a mat-fab class="twitch" href="https://www.twitch.tv/tottogoboom" target="_blank">
          <i class="fa fa-twitch"></i>
        </a>
        <a mat-fab class="opgg" href="http://na.op.gg/summoner/userName=eltotto" target="_blank">
          <i class="fa fa-globe"></i>
        </a>
      </div>
    </div>
  </div>
</div>