.person-avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    flex-shrink: 0;
    background-size: cover;
    margin: 0 auto;
    -webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    cursor: default;
    margin-bottom: .6em;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 100;
    cursor: default;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.is-4.person-img {
    display: flex;
    align-items: center;
}

.is-8 {
    border-left: 1px solid #c0bcbc;
}

.full-height {
    height: 100%;
}

.person-avatar.raul {
    background-image: url('../../../assets/img/raulfun.jpeg');
}

.person-avatar.andres {
    background-image: url('../../../assets/img/andres.jpg');
}

.person-avatar.eunice {
    background-image: url('../../../assets/img/eunice.jpeg');
}

 .twitch {
    background-color: #7a43c4;
    color: white;
    margin-right: 1em;
}

.opgg {
    background-color: white;
    color: black;
}

.title-name {
    font-weight: 300;
    font-size: 1.8em;
    margin-bottom: 0;
}